{% extends 'credit_score_app/base.html' %}

{% load static %}

{% block title %}
    <title>Home</title>
{% endblock %}

{% block content%}
<body>

  <div class="main-container">
      <div class="header-area">
          <h1>Enter your details</h1>
      </div>

      <form method="post" class="content-section">
          {% csrf_token %}
          <div class="row">
              <div class="col-md-6 mb-3">
                  <label class="form-label">Annual Income ($)</label>
                  <input type="number" step="0.01" name="annual_income" min="0" class="form-control" value="{{ input_data.annual_income }}" required>
              </div>
              <div class="col-md-6 mb-3">
                  <label class="form-label">Outstanding Debt ($)</label>
                  <input type="number" step="0.01" name="outstanding_debt" min="0" class="form-control" value="{{ input_data.outstanding_debt }}" required>
              </div>
              <div class="col-md-6 mb-3">
                  <label class="form-label">Interest Rate (%)</label>
                  <input type="number" step="0.01" name="interest_rate" min="0" max="100" class="form-control" value="{{ input_data.interest_rate }}" required>
              </div>
              <div class="col-md-6 mb-3">
                  <label class="form-label">Monthly EMI ($)</label>
                  <input type="number" step="0.01" name="total_emi_per_month" min="0" class="form-control" value="{{ input_data.total_emi_per_month }}" required>
              </div>
              <div class="col-md-6 mb-3">
                  <label class="form-label">Monthly Balance ($)</label>
                  <input type="number" step="0.01" name="monthly_balance" class="form-control" value="{{ input_data.monthly_balance }}" required>
              </div>
              <div class="col-md-6 mb-3">
                  <label class="form-label">Delay (Days)</label>
                  <input type="number" name="delay_from_due_date" step="1" min="0" class="form-control" value="{{ input_data.delay_from_due_date }}" required>
              </div>
              <div class="col-md-6 mb-3">
                  <label class="form-label">History (Months)</label>
                  <input type="number" name="credit_history_months" step="1" min="0" class="form-control" value="{{ input_data.credit_history_months }}" required>
              </div>
              <div class="col-md-6 mb-3">
                  <label class="form-label">Credit Inquiries</label>
                  <input type="number" name="num_credit_inquiries" step="1" min="0" class="form-control" value="{{ input_data.num_credit_inquiries }}" required>
              </div>
              <div class="col-md-6 mb-3">
                  <label class="form-label">Total Bank Accounts</label>
                  <input type="number" name="num_bank_accounts" step="1" min="0" class="form-control" value="{{ input_data.num_bank_accounts }}" required>
              </div>
              <div class="col-md-6 mb-3">
                  <label class="form-label">Changed Limit (%)</label>
                  <input type="number" step="0.01" name="changed_credit_limit" min="0" max="100" class="form-control" value="{{ input_data.changed_credit_limit }}" required>
              </div>
              <div class="col-md-6 mb-3">
                  <label class="form-label">Credit Mix</label>
                  <select name="credit_mix" class="form-select" required>
                    <option value="">Select...</option>
                    <option value="0" {% if input_data.credit_mix == "0" %}selected{% endif %}>Bad</option>
                    <option value="1" {% if input_data.credit_mix == "1" %}selected{% endif %}>Good</option>
                    <option value="2" {% if input_data.credit_mix == "2" %}selected{% endif %}>Standard</option>
                    <option value="3" {% if input_data.credit_mix == "3" %}selected{% endif %}>Unknown</option>
                  </select>
              </div>
              <div class="col-md-6 mb-3">
                  <label class="form-label">Paid Minimum Amount</label>
                  <select name="payment_of_min_amount" class="form-select" required>
                    <option value="">Select...</option>
                    <option value="0" {% if input_data.payment_of_min_amount == "0" %}selected{% endif %}>No</option>
                    <option value="1" {% if input_data.payment_of_min_amount == "1" %}selected{% endif %}>Unknown</option>
                    <option value="2" {% if input_data.payment_of_min_amount == "2" %}selected{% endif %}>Yes</option>
                  </select>
              </div>
          </div>
          <button type="submit" class="btn btn-transparent predict-btn">Predict Score</button>
      </form>

      {% if prediction_result %}
        <h4>Predicted Results</h4>
        <div class="prediction-container">
          <div class="content-section text-center">
              <h2 class="mb-1">{{ prediction_result.credit_score }} <span class="text-muted">/ 850</span></h2>
              
              <div class="category-group">
                  <span class="cat-pill pill-good">Good: {{ prediction_result.prob_good_pct|floatformat:2 }}% |</span>
                  <span class="cat-pill pill-standard">Standard: {{ prediction_result.prob_standard_pct|floatformat:2 }}% |</span>
                  <span class="cat-pill pill-poor">Poor: {{ prediction_result.prob_poor_pct|floatformat:2 }}%</span>
              </div>
          </div>

        
          <div class="content-section">
            <div class="row gx-3 gy-3">
                <div class="col-md-6">
                    <div class="analysis-column bg-strength">
                        <h6 class="fw-bold">Strengths</h6>
                        {% for factor in positive_factors %}
                            <div class="factor-box">• {{ factor }}</div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="analysis-column bg-risk">
                        <h6 class="fw-bold">Risks</h6>
                        {% for factor in negative_factors %}
                            <div class="factor-box">• {{ factor }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
          </div>

          {% if shap_plot %}
          <div class="content-section">
              <h6 class="fw-bold">SHAP Explanation</h6>
              <img src="{{ shap_plot }}" class="shap-img">
          </div>
          {% endif %}

          <div class="content-section">
              <h6 class="fw-bold">Summary</h6>
              <div class="narration-box">
                  {{ ai_explanation }}
              </div>
          </div>
        </div>
      {% endif %}
  </div>

</body>
{% endblock %}